.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
font-family: "Roboto", sans-serif;
  color: #434455;
  list-style-type: none;
  font-size: 16px;
  background: #fff;
  font-style: normal;
}
.logo  {
font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part{
    color: #2e2f42;   
    }
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.link {
  text-decoration: none;
  list-style-type: none;
}
.menu-link:hover,
.menu-link:active,
.contacts-link:hover,
.button,
.menu-item,
.contacts-link:active,
.button:hover,
.button:focus
{
  color: #404bbf;
}
.one {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.two {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1.1;
  text-transform: capitalize;
}
.three {
  font-size: 20px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.footer-text,
.logo-footer {
  color: #f4f4fd;
}
.logo-part {
  color: #4d5ae5;
}
.contacts {
font-style: normal
}
.contacts-link,
.job-title {
  color: #434455;
}
.main-section,
footer {
  background-color: #2e2f42;
}
.button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.team {
  color: #f4f4fd;
}
.logo link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
    
.features-discribe {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio-name {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5;
}
.footer-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.logo-header{
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
text-transform: uppercase;
}